html {
    background-color: rgb(187, 187, 187);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px 300px;
    border: 1px solid #121212;
    align-items: center;
    background-color: white;
    padding-bottom: 100%;
}

#logo {
    color: white;
    background-color: #121212;
    padding: 10px 30px;
    margin-bottom: 20px;
}

#nav {
    background-color: #121212;
}

#nav_bar {
    display: flex;
    padding-left: 0px;
}

#nav_bar li {
    list-style-type: none;
    padding: 8px 20px;
}
a {
    color: white;
    text-decoration: none;
    margin: 10px;
}