
table {
    border: 1px solid;
    border-color: #121212;
}

th {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 10px;
    background-color: #121212;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

td {
    background-color: white;
    padding: 10px 10px;
}

td a {
    color: #121212;
}